@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
  }
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
  }
  a {
    text-decoration: none;
  }

  ul,
  ol {
    list-style-type: none;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  body {
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        url("../../assets/home/bg-main1.jpg");
  }

  :is(header, .first) :is(h1, p, a) {
    color: rgb(255, 255, 255);
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  :root {
    --fs-very-small: 0.55rem;
    --fs-small: 0.875rem;
    --fs-regular: 1rem;
    --fs-medium: 1.15rem;
    --fs-large: 1.35rem;
    --fs-extra-large: 1.75rem;
    --fs-huge: 2rem;
  }
  @media screen and (min-width: 875px) {
    :root {
      --fs-very-small: 0.75rem;
      --fs-small: 1rem;
      --fs-regular: 1.125rem;
      --fs-medium: 1.35rem;
      --fs-large: 1.5rem;
      --fs-extra-large: 2rem;
      --fs-huge: 3rem;
    }
  }
  @media screen and (min-width: 1150px) {
    :root {
      --fs-very-small: 1rem;
      --fs-small: 1.15rem;
      --fs-regular: 1.25rem;
      --fs-medium: 1.4rem;
      --fs-large: 1.55rem;
      --fs-extra-large: 2.15rem;
      --fs-huge: 3.3rem;
    }
  }
  :is(header, main, section, footer, div) :is(h1, h2, h3, p, span, a, label, input, legend, textarea, time) {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Error page content */

  .error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-very-small);
    font-weight: 400;
  }

  .error {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }

  .error__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  .error__container-image {
    max-width: min(15rem, 20%);
    margin: 2rem 2rem 4rem 2rem;
  }

  :is(.error__container-title, .error__container-info) {
    padding: 0 2rem 0 2rem;
    white-space: normal;
    color: rgb(255, 255, 255);
  }

  .error__container-info {
    margin-bottom: 2rem;
    font-weight: 900;
    text-align: center;
  }

  .error__container-button {
    border: none;
    background-color: rgb(0, 74, 223);
    color: rgb(255, 255, 255);
    padding: 1rem 2rem 1rem 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    font-size: 1.15rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, opacity 0.15s ease-in-out;
  }

  .error__container-button:hover {
    background-color: rgb(5, 55, 156);
  }
  .error__container-button:active {
    opacity: 0.8;
  }

  /* Navigation (header) */

  .nav-container {
    width: 100%;
    background-color: rgb(26, 25, 25);
  }

  .navbar {
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1720px;
       
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
    align-items: center;
  }


  .menu-toggle .togglebar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
  }


  .nav-list .list__item:is(:last-child) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .nav-list .list__item:is(:last-child) .person-logo {
    max-width: 2.5rem;
    border-radius: 100vh;
  }

  .nav-list .list__item:is(:last-child) .profile-link {
    position: relative;
  }

  .nav-list .list__item:is(:last-child) .profile-link:hover::before { /* todo dropdown options */
    content: "User profile";
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 130%;
    left: 30%;
    transform: translateX(-40%);
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
  }


  .nav-list .list__item:is(:last-child) .list__item-icon {
    max-width: 2rem;
  }

  .nav-list .list__item .nav-link {
    width: fit-content;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-list .list__item-text {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .nav-list .list__item-text:hover {
    color: red;
    transition: all 0.2s ease-out;
  }

  
  

  /* first content */
  .first {
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .first .wrapper {
    width: min(60%, 83.5rem);
    margin-inline: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 5rem;
    justify-items: center;
    justify-content: center;
  }

  .first__title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-huge);
    font-weight: 600;
  }
  
  .first__description {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 1.1rem;
  }

  .first__main-link {
    font-size: var(--fs-medium);
    font-weight: 700;
  }

  .first__main-link {
    padding: 10px calc(10px + 5vw);
    background-color: rgb(75, 226, 95);
    border-radius: 2rem;
    transition: all 150ms ease-in-out;
  }

  .first__main-link:is(:hover) {
    background-color: rgb(61, 160, 74);
  }


  /* About content */

  .about {
    min-height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0;
    flex-direction: column;
    margin-top: 2.5%;
    margin-bottom: 5%;
  }

  .about .container {
    width: min(90%, 32.5rem);
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    background-color: rgb(32, 30, 30, 0.8);
    padding: 3rem 2.5rem;
    border-radius: 2rem;
  }

  .about .container__title {
    white-space: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .about .container__text {
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
    font-size: 1.1rem;
  }

  /* Profile content */

  .profile {
    min-height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0;
    flex-direction: column;
    margin-top: 2.5%;
    margin-bottom: 5%;
  }

  .profile .container {
    width: min(90%, 32.5rem);
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    background-color: rgb(32, 30, 30, 0.8);
    padding: 3rem 2.5rem;
    border-radius: 2rem;
  }

  .profile .container__title {
    white-space: nowrap;
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .profile .container__text {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 1.1rem;
    color: white;
  }

  .profile .link {
    font-size: var(--fs-medium);
    text-decoration: none;
    font-weight: 700;
    padding: 10px calc(10px + 5vw);
    background-color: rgb(75, 226, 95);
    border-radius: 2rem;
    transition: all 150ms ease-in-out;
    color: white;
  }

  .profile .link:is(:hover) {
    background-color: rgb(61, 160, 74);
  }

  /* Contact content */

  .contact {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: row;
    margin-top: 2.5%;
    margin-bottom: 5%;
    
  }

  .contact .container {
    width: min(90%, 32.5rem);
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    flex-direction: column;
    background-color: rgb(32, 30, 30, 0.8);
    padding: 3rem 2.5rem;
    border-radius: 2rem;
  }

  

  .contact .container__title {
    white-space: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .contact .container__text {
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
    font-size: 1.1rem;
  }

  .contact .container__form {
    width: 100%;
  }

  .contact .container__form-field {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0rem;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .contact .container__form-field:nth-of-type(5) {
    gap: 1rem;
  }

  .contact .container__form-field:nth-of-type(5) #photo-label {
    width: 100%;
  }

  .contact .container__form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    margin-top: 4rem;
  }
  
  .contact .container__form-buttons button {
    width: 100%;
    background-color: rgb(75, 226, 95);
    border-radius: 5rem;
    border: none;
    padding: 0.75rem 2.5rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 1.15rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 150ms ease-in-out;
  }

  .contact .container__form-buttons button:hover {
    background-color: rgb(61, 160, 74);
  }

  .contact .container__form-buttons button:active {
    background-color: rgb(61, 160, 74);
  }

  .contact .container label,
  .contact .container .photo-upload {
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  .contact .container input:not([id=photo]) {
    width: 100%;
    background-color: rgb(217, 217, 217);
    margin-top: 1.75rem;
    border-radius: 2rem;
    border: none;
    padding: 0.65rem 1.5rem;
    font-size: var(--fs-small);
  }
  .contact .container textarea[id=feedbackMessage] {
    resize: none;
    width: 100%;
    background-color: rgb(217, 217, 217);
    margin-top: 1.75rem;
    border-radius: 2rem;
    border: none;
    padding: 0.65rem 1.5rem;
    font-size: var(--fs-small);
  }
  .contact .container :is(textarea, input):is(:focus) {
    outline: none;
  }
  .contact .container input[type=file] {
    cursor: pointer;
    display: none;
    transition: all 350ms ease-in-out;
  }
  .contact .container label[for=photo] {
    cursor: pointer;
    background-color: rgb(89, 89, 89);
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    text-align: center;
  }


  /* Login content */

  .login {
    min-height: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0;
    flex-direction: column;
    margin-top: 2.5%;
    margin-bottom: 5%;
  }

  .login .container {
    width: min(90%, 32.5rem);
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0rem;
    flex-direction: column;
    background-color: rgb(32, 30, 30, 0.8);
    padding: 3rem 2.5rem;
    border-radius: 2rem;
  }

  .login .container__title {
    white-space: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .login .container__form {
    width: 100%;
  }

  .login .container__form-field {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0rem;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .login .container__form-field:nth-of-type(5) {
    gap: 1rem;
  }

  .login .container__form-field:nth-of-type(5) #photo-label {
    width: 100%;
  }

  .login .container__form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    margin-top: 4rem;
  }
  
  .login .container__form-buttons button {
    width: 100%;
    background-color: rgb(68, 199, 86);
    border-radius: 5rem;
    border: none;
    padding: 0.75rem 2.5rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 1.15rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 150ms ease-in-out;
  }

  .login .container__form-buttons .container__form-submit-signup {
    background-color: rgb(0, 128, 255);
  }

  .login .container__form-buttons .container__form-submit-signup:hover {
    background-color: rgb(25, 83, 189);
  }

  .login .container__form-buttons button:hover {
    background-color: rgb(61, 160, 74);
  }

  .login .container__form-buttons button:active {
    background-color: rgb(61, 160, 74);
  }
  .login .container label,
  .login .container .photo-upload {
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  .login .container input:not([id=photo]) {
    width: 100%;
    background-color: rgb(217, 217, 217);
    margin-top: 1.75rem;
    border-radius: 2rem;
    border: none;
    padding: 0.65rem 1.5rem;
    font-size: var(--fs-small);
  }
  .login .container :is(textarea, input):is(:focus) {
    outline: none;
  }
  .login .container input[type=file] {
    cursor: pointer;
    display: none;
    transition: all 350ms ease-in-out;
  }
  .login .container label[for=photo] {
    cursor: pointer;
    background-color: rgb(89, 89, 89);
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    text-align: center;
  }

  /* Visitor Main Page content */

  .visitor-main {
    min-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .visitor-main .visitor-main-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    color: rgb(255, 255, 255);
  }

  .visitor-main .visitor-main-container .visit-left {
    width: min(70%, 70rem);
    min-height: 30rem;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content:first baseline;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    background-color: rgb(32, 30, 30, 0.8);
    padding: 3rem 2.5rem;
    border-radius: 2rem;
    margin-bottom: 5%;
  }

  .visitor-main .inmate__show {
    margin-bottom: 5%;
    width: 100%;
    background-color: rgb(204, 204, 204);
    border-radius: 0.7rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.75rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .visitor-main .inmate__show-title {
    white-space: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: var(--fs-small);
    font-weight: 600;
  }

  .visitor-main .inmate__show-photo {
    width: 6rem;
    margin-inline: auto;
  }

  .visitor-main .inmate__show-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-block: 1.5rem;
    border-radius: 0.7rem;
    background-color: rgb(4, 129, 117);
  }

  .visitor-main .inmate__show-banner .delete-show {
    position: absolute;
    height: 1.75rem;
    width: 1.75rem;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .visitor-main .inmate__show-banner .line {
    position: absolute;
    top: 75%;
    right: 30%;
    width: 100%;
    height: 0.285rem;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
  }

  .visitor-main .inmate__show-banner .line-1 {
    transform: rotate(45deg);
  }

  .visitor-main .inmate__show-banner .line-2 {
    transform: rotate(-45deg);
  }
  
  .visitor-main .inmate__show-banner .delete-show:hover .line {
    transition: all 0.3s ease;
    background-color: rgb(204, 204, 204);
  }

  .visitor-main .inmate__show.hidden {
    display: none;
  }

  .visitor-main .inmate__show.visible {
    display: block;
  }

  .visitor-main .search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0rem;
  }
  
  .visitor-main .search-bar input {
    outline: none;
    font-size: var(--fs-regular);
    display: block;
    width: 100%;
    padding-inline: 1.5rem;
    background-color: rgb(204, 204, 204);
    border: none;
    border-top-left-radius: 1rem;
  }

  .visitor-main .search-bar button {
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding: 1rem;
    border-top-right-radius: 1rem;
    transition: opacity 350ms ease-in-out;
  }

  .visitor-main .search-bar button img {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }

  .visitor-main .search-bar .result-list {
    margin-inline: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: var(--fs-very-small);
    background-color: rgb(204, 204, 204);
    box-shadow: 0.4rem 1rem 0.8rem 0rem rgba(0, 0, 0, 0.39);
    border-top: none;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    list-style-type: none;
  }

  .visitor-main .search-bar .result-list.hidden {
    display: none;
    padding-bottom: 0rem;
  }

  .visitor-main .search-bar .result-list.visible {
    display: block;
    padding-bottom: 0.5rem;
  }

  .visitor-main .search-bar .result-list .title {
    padding-inline: 1rem 1rem;
    font-weight: bold;
    color: rgb(89, 89, 89);
    margin-bottom: 1rem;
  }

  .visitor-main .search-bar .result-list .prisoner-option {
    padding-inline: 1rem 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }

  .visitor-main .search-bar .result-list .prisoner-option:hover {
    background-color: rgb(217, 217, 217);
  }

  .visitor-main .search-bar.list-off input {
    border-bottom-left-radius: 1rem;
  }

  .visitor-main .search-bar.list-off button {
    border-bottom-right-radius: 1rem;
    background-color: rgb(75, 226, 95);
  }

  .visitor-main .search-bar.list-off button:is(:hover) {
    opacity: 0.75;
  }

  .visitor-main .search-bar.list-on button {
    background-color: rgb(204, 204, 204);
  }

  .visitor-main .search-bar.list-on button img {
    color: rgb(252, 79, 79);
    transition: filter 0.5s ease-in-out;
  }

  .visitor-main .search-bar.list-on button img:is(:hover) {
    filter: invert(51%) sepia(57%) saturate(5388%) hue-rotate(1deg) brightness(92%) contrast(108%);
  }

  .visitor-main__aside__button {
    min-width: 5rem;
    width: 50%;
    padding: 1rem;
    border-radius: 0.7rem;
    border-style: none;
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.39);
    cursor: pointer;
    transition: all 150ms ease-in-out;
    font-size: 1.15rem;
    font-size: var(--fs-regular);
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 197, 183);
    margin: 5%;
  }
  .visitor-main__aside__button:is(:hover) {
    background-color: rgb(4, 129, 117);
  }

  /* Visitor list right */

  .visitor-main .visitor-main-container .visit-right {
    width: min(90%, 70rem);
    min-height: 30rem;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    background-color: rgb(32, 30, 30, 0.8);
    padding: 3rem 2.5rem;
    border-radius: 2rem;
    margin-bottom: 5%;
  }

  .visitor-main__list__show {
    font-size: var(--fs-very-small);
  }
  .visitor-main__list__show__label {
    text-align: center;
    font-weight: 700;
  }
  .visitor-main__list__show__info {
    font-weight: 600;
  }
  .visitor-main__list__next-page {
    font-size: var(--fs-medium);
    font-weight: 600;
  }

  .visitor-element {
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: rgb(204, 204, 204);
    padding: 0.25rem;
    gap: 0rem;
    border-radius: 1rem;
  }
  .visitor-main__list__show {
    background-color: rgb(204, 204, 204);
  }
  .visitor-main__list__next-page {
    color: rgb(255, 255, 255);
    background-color: rgb(252, 79, 79);
  }

  .visitor-main__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-direction: column;
    padding: 0rem;
  }

  .visitor-main__list__show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: start;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.39);
  }

  .visitor-main__list__show__dBirth {
    display: none;
  }

  .visitor-main__list__show__photo {
    aspect-ratio: 1/1;
    max-width: 5rem;
    border-radius: 100vh;
    border: 4px solid rgb(0, 0, 0);
  }

  .visitor-main__list__show .drop-arrow {
    cursor: pointer;
    justify-self: end;
    width: 40px;
  }

  .visitor-main__list__show .drop-arrow .vBar {
    display: block;
    width: 20px;
    background-color: rgb(0, 0, 0);
    height: 3px;
    margin-bottom: 0.35rem;
    transition: all 250ms ease-in-out;
  }

  .visitor-main__list__show .drop-arrow .vBar:is(:first-child) {
    transform: translate(15px, 4px) rotate(-45deg);
  }

  .visitor-main__list__show .drop-arrow .vBar:is(:last-child) {
    margin-bottom: 0;
    transform: translate(2px, -4px) rotate(45deg);
  }

  .visitor-main__list__show .drop-arrow.extended .vBar:is(:first-child) {
    transform: translate(4px, 2px) rotate(-45deg);
  }

  .visitor-main__list__show .drop-arrow.extended .vBar:is(:last-child) {
    transform: translate(4px, -7px) rotate(45deg);
  }
  
  .visitor-main__list__show__buttons {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  :is(.visitor-main__list__show__buttons__edit) {
    min-width: 35px;
    min-height: 35px;
    cursor: pointer;
    border-style: none;
    background: none;
    padding: 0.5rem;
    background-color: rgb(61, 160, 74);
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.39);
    border-radius: 50%;
    transition: all 150ms ease-in-out;
  }

  :is( .visitor-main__list__show__buttons__delete) {
    min-width: 35px;
    min-height: 35px;
    cursor: pointer;
    border-style: none;
    background: none;
    padding: 0.5rem;
    background-color: rgb(244, 67, 54);
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.39);
    border-radius: 50%;
    transition: all 150ms ease-in-out;
  }

  :is(.visitor-main__list__show__buttons__edit):hover {
    background-color: rgb(60, 99, 65);
  }

  :is(.visitor-main__list__show__buttons__delete):hover {
    background-color: rgb(183, 28, 28);
  }

  .visitor-main__list__show.extended {
    grid-template-rows: repeat(2, 1fr);
  }
  .visitor-main__list__show.extended .visitor-main__list__show__photo {
    grid-row: 1/3;
  }
  .visitor-main__list__show.extended .visitor-main__list__show__buttons {
    display: flex;
    grid-column: 3/4;
    justify-self: end;
  }
  .visitor-main__list__show.extended .visitor-main__list__show__dBirth {
    display: block;
    grid-column: 2/3;
    justify-self: center;
  }

  .visit-right .pagination-visitor-container {
    margin-top: 2.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.5rem;
  }

  .visit-right .pagination-visitor-container .pagination-visitor-button-delete {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-regular);
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(244, 67, 54);
    box-shadow: 0 0 1rem rgba(14, 14, 14, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 150ms ease-in-out;
  }

  .visit-right .pagination-visitor-container .pagination-visitor-button-delete:hover {
    background-color: rgb(183, 28, 28);
  }

  .visit-right .pagination-visitor-container .pagination-visitor-button-prev {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-regular);
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(21, 178, 147);
    box-shadow: 0 0 1rem rgba(14, 14, 14, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 150ms ease-in-out;
  }

  .visit-right .pagination-visitor-container .pagination-visitor-button-prev:hover {
    background-color: rgb(17, 131, 108);
  }

  .visit-right .pagination-visitor-container .pagination-visitor-button-next {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-regular);
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(21, 178, 147);
    box-shadow: 0 0 1rem rgba(14, 14, 14, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 150ms ease-in-out;
  }

  .visit-right .pagination-visitor-container .pagination-visitor-button-next:hover {
    background-color: rgb(17, 131, 108);
  }

  .visit-right .pagination-visitor-container .pagination-visitor-button-confirm {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-regular);
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(75, 226, 95);
    box-shadow: 0 0 1rem rgba(14, 14, 14, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 150ms ease-in-out;
  }

  .visit-right .pagination-visitor-container .pagination-visitor-button-confirm:hover {
    background-color: rgb(61, 160, 74);
  }


  @media screen and (max-width: 768px)
  {
    .nav-container {
      position: relative;
    }

    .nav-list {
      display: grid;
      grid-template-columns: auto;
      background: rgb(35, 35, 35);
      margin: 0;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
    }

    .nav-list.active {
      z-index: 10;
      background: rgb(35, 35, 35);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-list .list__item:is(:last-child) .person-logo {
      max-width: 2.5rem;
      border-radius: 100vh;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    

    .nav-list .list__item {
      line-height: 60px;
      display: table;
    }
    .nav-list .list__item:hover {
      background-color: red;
      color: white;
      transition: all 0.4s ease-out;
    }

    .nav-list .list__item-text {
      color: white;
      text-decoration: none;
    }
  
    .nav-list .list__item-text:hover {
      color: white;
      text-decoration: none;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .menu-toggle .togglebar {
      display: block;
      cursor: pointer;
    }
  
    .menu-toggle:hover {
      cursor: pointer;
    }
  
    #mobile-menu.is-active .togglebar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .togglebar:nth-child(1) {
      transform: translateY(8px) translateX(-4px) rotate(45deg);
      width: 14px;
    }
  
    #mobile-menu.is-active .togglebar:nth-child(3) {
      transform: translateY(-8px) translateX(4px) rotate(-45deg);
      width: 14px;
    }
  }

  
  


  /* media screen */
  @media screen and (max-width: 480px) {
    .first__description {
      width: 90%;
    }
    .first__description::before {
      font-size: 4rem;
      left: -3rem;
      top: -2rem;
    }
    .first__description::after {
      font-size: 4rem;
      right: -3rem;
      top: -2rem;
    }
  }

  @media screen and (min-width: 481px) {
    .first__description {
      width: 90%;
    }
    .first__description::before {
      font-size: 4rem;
      left: -3rem;
      top: -2rem;
    }
    .first__description::after {
      font-size: 4rem;
      right: -3rem;
      top: -2rem;
    }
    .visitor-main__list__show {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 1fr;
      grid-template-rows: auto;
      gap: 2rem;
      justify-items: center;
      justify-content: center;
      align-items: center;
      align-content: start;
    }
    .visitor-main__list__show__name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      flex-direction: row;
    }
    .visitor-main__list__show__dBirth {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      flex-direction: row;
    }
    .visitor-main__list__show__buttons {
      display: flex;
      flex-direction: row;
    }
    .visitor-main__list__show .drop-arrow {
      display: none;
    }
  }
  
  @media screen and (min-width: 875px) {
    .first__description {
      width: 90%;
    }
    .first__description::before {
      font-size: 4rem;
      left: -3rem;
      top: -2rem;
    }
    .first__description::after {
      font-size: 4rem;
      right: -3rem;
      top: -2rem;
    }
    .visitor-main .visitor-main-container {
      flex-direction: row;
    }
    .visitor-main .visitor-main-container .visit-left {
      width: min(45%, 45rem);
    }
    .visitor-main .visitor-main-container .visit-right {
      width: min(52%, 70rem);
    }
  }

  @media screen and (min-width: 1150px) {
    .first__description {
      width: 80%;
    }
    .first__description::before {
      font-size: 5rem;
      top: -3rem;
    }
    .first__description::after {
      font-size: 5rem;
      top: -3rem;
    }
  }

  @media screen and (min-width: 1470px) {
    .first__description {
      width: 70%;
    }
  }


