<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Learn more about our app, how it works and the motivation behind it."
    />
    <link rel="stylesheet" href="../public/styles/css/styles.css" />
    <link rel="icon" href="../public/assets/header/police-icon.svg" />
    <title>About</title>
  </head>

  <body>
    <header class="header" id="page-header">
      <div class="nav-container">
        <nav class="navbar">
          <div class="menu-toggle" id="mobile-menu">
            <span class="togglebar"></span>
            <span class="togglebar"></span>
            <span class="togglebar"></span>
          </div>
          <ul class="nav-list">
            <li class="list__item">
              <a href="index.html" class="nav-link">
                <img
                  class="list__item-icon"
                  src="../public/assets/header/home-icon.svg"
                  alt="home-icon"
                />
                <p class="list__item-text">Home</p>
              </a>
            </li>
            <li class="list__item">
              <a href="about.html" class="nav-link">
                <img
                  class="list__item-icon"
                  src="../public/assets/header/about-icon.svg"
                  alt="about-icon"
                />
                <p class="list__item-text">About</p>
              </a>
            </li>
            <li class="list__item">
              <a href="contact.html" class="nav-link">
                <img
                  class="list__item-icon"
                  src="../public/assets/header/contact-icon.svg"
                  alt="contact-icon"
                />
                <p class="list__item-text">Contact</p>
              </a>
            </li>
            <li class="list__item">
              <a href="#" class="profile-link">
                <img
                  class="person-icon"
                  src="../public/assets/header/person-icon.webp"
                  alt="person-icon"
                  onclick="toggleMenu()"
                  id="person-icon"
                />
              </a>
            </li>
          </ul>
          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img
                  src="../public/assets/header/person-icon.webp"
                  alt="person-icon-sub"
                />
                <h2>Name Surname</h2>
              </div>
              <hr />
              <a href="profile.html" class="sub-menu-link">
                <img
                  src="../public/assets/header/profile-icon.png"
                  alt="profile-icon"
                />
                <p>Profile</p>
                <span>⯈</span>
              </a>
              <a href="#" class="sub-menu-link">
                <img
                  src="../public/assets/header/logout-icon.png"
                  alt="logout-icon"
                />
                <p>Logout</p>
                <span>⯈</span>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <script src="app.js"></script>

    <main class="about">
      <div class="container">
        <h1 class="container__title">About DeAd</h1>
        <p class="container__text">
          Our platform is meticulously crafted to enhance the visitation
          procedure for individuals visiting their acquaintances in correctional
          facilities. Through our platform, users can seamlessly initiate and
          oversee visitation appointments, thereby guaranteeing a structured and
          efficient experience. We also offer users an easy way to view
          statistics that relate to past visits, generated and updated
          automatically based on current data.
        </p>
        <p class="container__text">
          This platform was based on three principles: security, accessibility,
          and efficiency. We strongly believe in offering prisoners contact with
          the outside world to help in their rehabilitation, and we strive for
          our platform to facilitate that.
        </p>
      </div>
    </main>
  </body>
</html>
