<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Please provide information about yourself and any other visitors who may accompany you to visit a prisoner. A visitor could be a family member, lawyer, or psychologist, and they are required to furnish personal details to schedule a visit on the DeAd website.">
  <link rel="stylesheet" href="../public/styles/css/styles.css">
  <link rel="icon" href="../public/assets/header/police-icon.svg">
  <title>Visitor Main</title>
</head>

<body>
  <header class="header" id="page-header">
    <div class="header__container">
      
        <div class="nav__toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="list__item">
                    <a href="/" class="nav-link">
                      <img class="list__item-icon" src="../public/assets/header/home-icon.svg" alt="home-logo">
                      <p class="list__item-text">Home</p>
                    </a>
                  </li>
                  <li class="list__item">
                    <a href="/views/about.html" class="nav-link">
                      <img class="list__item-icon" src="../public/assets/header/about-icon.svg" alt="info-logo">
                      <p class="list__item-text">About</p>
                    </a>
                  </li>
                  <li class="list__item">
                    <a href="/views/contact.html" class="nav-link">
                      <img class="list__item-icon" src="../public/assets/header/contact-icon.svg" alt="contact-logo">
                      <p class="list__item-text">Contact</p>
                    </a>
                  </li>
                  <li class="list__item">
                    <a href="#" class="profile-link">
                      <img class="person-logo" src="../public/assets/header/person-icon.webp" alt="person-logo">
                    </a>
                  </li>
            </ul>
        </nav>
    </div>
  </header>
  <main class="visitor-main">
    <div class="visitor-main-container">
      <section class="visit-left">
        ADD SECTION
      </section>
      <section class="visit-right">
        VISITORS TABLE
      </section>
    </div>
  </main>
</body>

</html>